@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    display: flex;
    min-height: 100vh;
    display: flex;
    background-image: url("./adrian-infernus-GLf7bAwCdYg-unsplash.jpg");
    background-size: cover;
    background-position: center; 
    color: black; 
}